main/default/flows/Test_SCREEN_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Sets decision and feedback to values from GetContentManagerFeedback. Sets reviewer to the first and last name of the flow user.</description>
        <name>AssignReviewOutcomes</name>
        <label>Assign Review Outcomes</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Decision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PicklistDecision</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Feedback</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewComment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Reviewer</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$User.FirstName} {!$User.LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Comments</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReviewComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Test_Assignment</name>
        <label>Test Assignment</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Accounts.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>124342er3r3r3r</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>cERATE_oPP</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Stores the label for an approved content variant displayed as an option for PicklistDecision.</description>
        <name>IsApproved</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>approved</stringValue>
        </value>
    </choices>
    <choices>
        <description>Stores the label for a rejected content variant displayed as an option for PicklistDecision.</description>
        <name>IsRejected</name>
        <choiceText>Request Revision</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>rejected</stringValue>
        </value>
    </choices>
    <interviewLabel>Test SCREEN Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test SCREEN Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>cERATE_oPP</name>
        <label>cERATE oPP</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>CloseDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Test_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Allows the content manager to conditionally view a content author&apos;s revision comments, provide feedback, and either request additional revisions or approve the content variant.</description>
        <name>GetContentManagerFeedback</name>
        <label>Get Content Manager Feedback</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignReviewOutcomes</targetReference>
        </connector>
        <fields>
            <name>DisplayTextContentAuthorFeedback</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The content author had the following feedback:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Feedback</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayTextFeedback</name>
            <fieldText>&lt;p&gt;{!Feedback}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Feedback</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ReviewComment</name>
            <fieldText>Comments:</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PicklistDecision</name>
            <choiceReferences>IsRejected</choiceReferences>
            <choiceReferences>IsApproved</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Decision</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContentManagerFeedback</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the value of the choice selected in PicklistDecision and is available as output from the flow.</description>
        <name>Decision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Initially stores the context author&apos;s feedback about the content variant passed into the flow. Is reset to the flow user comments about the content variant and is available for output.</description>
        <name>Feedback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the first name and last name of the reviewer and is available as output from the flow.</description>
        <name>Reviewer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
